<div class="container">

        <h3>Create Random Posts</h3>
        <form action="/admin/randomPost" method="post">
       
            <input type="text" name="ammount" id="">
            <button type="submit">Submit</button>
        </form>

</div>